.shopmain{
	margin: 0 auto;
	width: 1300px;
}
.shopmain .shoplist li{
	margin:10px 20px 10px 0px;
	padding: 10px;
	border: 1px solid gainsboro;
	list-style: none;
	float: left;
	width: 380px;
	font-size: 13px;
}
.shopmain .shopimg{
	height: 100%;
	width: 100px;
	float: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
.shopmain .info{
	float: right;
	width: 200px;
	margin-bottom: 10px;
	padding-top: 10px;
	
}
.shopmain .info a{
	text-decoration: none;
	font-size: 16px;
	color: #0063DC;
}
.shopmain .shoplist li .shopimg a{
	display: block;
	float: left;
	width: 70px;
	height: 70px;
}
.shopmain .shoplist li img{
	width: 100;
	height: 100%;
}
.shopmain .shoplist li div{
	float:left;
}