<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>yierjia</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.icss.yierjia.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.icss.yierjia.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckUsernameServlet</display-name>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/AjaxCheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckEmailServlet</display-name>
    <servlet-name>AjaxCheckEmailServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxCheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckEmailServlet</servlet-name>
    <url-pattern>/AjaxCheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckPhoneServlet</display-name>
    <servlet-name>AjaxCheckPhoneServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxCheckPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckPhoneServlet</servlet-name>
    <url-pattern>/AjaxCheckPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxIndexListServlet</display-name>
    <servlet-name>AjaxIndexListServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxIndexListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxIndexListServlet</servlet-name>
    <url-pattern>/AjaxIndexListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDetailServlet</display-name>
    <servlet-name>ItemDetailServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.ItemDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetailServlet</servlet-name>
    <url-pattern>/ItemDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByTypeServlet</display-name>
    <servlet-name>SearchByTypeServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.SearchByTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByTypeServlet</servlet-name>
    <url-pattern>/SearchByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopDetailServlet</display-name>
    <servlet-name>ShopDetailServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.ShopDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopDetailServlet</servlet-name>
    <url-pattern>/ShopDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPageItemsBySid</display-name>
    <servlet-name>AjaxPageItemsBySid</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxPageItemsBySid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPageItemsBySid</servlet-name>
    <url-pattern>/AjaxPageItemsBySid</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.icss.yierjia.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/person/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAddToShopcartServlet</display-name>
    <servlet-name>AjaxAddToShopcartServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxAddToShopcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddToShopcartServlet</servlet-name>
    <url-pattern>/AjaxAddToShopcartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxShopcartServlet</display-name>
    <servlet-name>AjaxShopcartServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxShopcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxShopcartServlet</servlet-name>
    <url-pattern>/AjaxShopcartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxUpdateShopcartCountServlet</display-name>
    <servlet-name>AjaxUpdateShopcartCountServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxUpdateShopcartCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxUpdateShopcartCountServlet</servlet-name>
    <url-pattern>/AjaxUpdateShopcartCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShopcartItemServlet</display-name>
    <servlet-name>DeleteShopcartItemServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.DeleteShopcartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShopcartItemServlet</servlet-name>
    <url-pattern>/DeleteShopcartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BindEmailServlet</display-name>
    <servlet-name>BindEmailServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.BindEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BindEmailServlet</servlet-name>
    <url-pattern>/BindEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCheckCodeServlet</display-name>
    <servlet-name>SendCheckCodeServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.SendCheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCheckCodeServlet</servlet-name>
    <url-pattern>/SendCheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderItemsServlet</display-name>
    <servlet-name>OrderItemsServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.OrderItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemsServlet</servlet-name>
    <url-pattern>/OrderItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAllOrdersServlet</display-name>
    <servlet-name>AjaxAllOrdersServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxAllOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAllOrdersServlet</servlet-name>
    <url-pattern>/AjaxAllOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/AddAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAddressListServlet</display-name>
    <servlet-name>AjaxAddressListServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxAddressListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddressListServlet</servlet-name>
    <url-pattern>/AjaxAddressListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyItemNowServlet</display-name>
    <servlet-name>BuyItemNowServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.BuyItemNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyItemNowServlet</servlet-name>
    <url-pattern>/BuyItemNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxGetCountServlet</display-name>
    <servlet-name>AjaxGetCountServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AjaxGetCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxGetCountServlet</servlet-name>
    <url-pattern>/AjaxGetCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrUserListServlet</display-name>
    <servlet-name>MgrUserListServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrUserListServlet</servlet-name>
    <url-pattern>/MgrUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportUsersExcel</display-name>
    <servlet-name>ExportUsersExcel</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.ExportUsersExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportUsersExcel</servlet-name>
    <url-pattern>/ExportUsersExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrUserDetail</display-name>
    <servlet-name>MgrUserDetail</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrUserDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrUserDetail</servlet-name>
    <url-pattern>/MgrUserDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrChangeUserStateServlet</display-name>
    <servlet-name>MgrChangeUserStateServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrChangeUserStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrChangeUserStateServlet</servlet-name>
    <url-pattern>/MgrChangeUserStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportShopsExcel</display-name>
    <servlet-name>ExportShopsExcel</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.ExportShopsExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportShopsExcel</servlet-name>
    <url-pattern>/ExportShopsExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveInfoServlet</display-name>
    <servlet-name>SaveInfoServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.SaveInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveInfoServlet</servlet-name>
    <url-pattern>/SaveInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportItemsExcel</display-name>
    <servlet-name>ExportItemsExcel</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.ExportItemsExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportItemsExcel</servlet-name>
    <url-pattern>/ExportItemsExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrShopDetail</display-name>
    <servlet-name>MgrShopDetail</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrShopDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrShopDetail</servlet-name>
    <url-pattern>/MgrShopDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrShopListServlet</display-name>
    <servlet-name>MgrShopListServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrShopListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrShopListServlet</servlet-name>
    <url-pattern>/MgrShopListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrShopStateServlet</display-name>
    <servlet-name>MgrShopStateServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrShopStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrShopStateServlet</servlet-name>
    <url-pattern>/MgrShopStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrChangeShopStateServlet</display-name>
    <servlet-name>MgrChangeShopStateServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrChangeShopStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrChangeShopStateServlet</servlet-name>
    <url-pattern>/MgrChangeShopStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrItemDetail</display-name>
    <servlet-name>MgrItemDetail</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrItemDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrItemDetail</servlet-name>
    <url-pattern>/MgrItemDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrItemListServlet</display-name>
    <servlet-name>MgrItemListServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrItemListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrItemListServlet</servlet-name>
    <url-pattern>/MgrItemListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrChangeItemStateServlet</display-name>
    <servlet-name>MgrChangeItemStateServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrChangeItemStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrChangeItemStateServlet</servlet-name>
    <url-pattern>/MgrChangeItemStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MrgOrderDetail</display-name>
    <servlet-name>MrgOrderDetail</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MrgOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MrgOrderDetail</servlet-name>
    <url-pattern>/MrgOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrOrderListServlet</display-name>
    <servlet-name>MgrOrderListServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrOrderListServlet</servlet-name>
    <url-pattern>/MgrOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrChangePwdServlet</display-name>
    <servlet-name>MgrChangePwdServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.MgrChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrChangePwdServlet</servlet-name>
    <url-pattern>/MgrChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.icss.yierjia.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>